html {
  font-family: 'Times New Roman', Times, serif; 
  display: inline-block; 
  text-align: center;
}

h2 {
  font-size: 3.0rem;
}

p {
  font-size: 12pt;
}

body {
  max-width: 600px; 
  margin:0px auto; 
  padding-bottom: 25px;
}

.collapsible {
  background-color: rgb(53, 122, 141);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;

  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(50, 68, 129);
}

.colContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

